@using WebAtividadeEntrevista.Models
@model ClienteModel
@{
    var listaOriginal = Model != null ? Model.Beneficiarios : new List<BeneficiarioModel>();
    
    
}
@Scripts.Render("~/bundles/Beneficiarios/beneficiarios")

<div id="popupBeneficiarios" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Beneficiarios</h4>
            </div>
            <div class="modal-body">
                <table id="tblBeneficiarios" class="table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>